<footer
  class="container-fluid page-footer font-small blue pt-4"
  style="max-width: 600px"
>
  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">
    <!-- Grid row -->
    <div class="row">
      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">
        <!-- Content -->
        <h5 class="text-uppercase">UFO Sightings</h5>
        <p>"I WANT TO BELIEVE."</p>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">
        <!-- Links -->
        <h5 class="text-uppercase">Links</h5>

        <ul class="list-unstyled">
          <li>
            <a href="/home">Home</a>
          </li>
          <li>
            <a href="/">All Sightings</a>
          </li>
          <li>
            <a href="/shapes">Sightings by Shape</a>
          </li>
        </ul>
      </div>
      <!-- Grid column -->

      <!-- Grid column -->

      <!-- Grid column -->
    </div>
    <!-- Grid row -->
  </div>
  <!-- Footer Links -->

  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2021 Copyright: Graham James Lim
  </div>
  <!-- Copyright -->
</footer>
