<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button
        type="button"
        class="navbar-toggle"
        data-toggle="collapse"
        data-target="#myNavbar"
      >
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/sighting">UFO Sightings</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/sighting">Submit Your Sighting</a></li>
        <li><a href="/">All Sightings</a></li>
        <li><a href="#">Edit/Delete a Sighting</a></li>
        <li><a href="#">List of Sightings by Shape</a></li>
      </ul>
    </div>
  </div>
</nav>

<div
  class="container jumbotron text-center vertical-center"
  id="jumbotron-2"
  style="max-width: 600px"
>
  <h1 class="display-4"><%= header %></h1>
  <p class="lead"><%= subheader %></p>
</div>
