<html>
  <head>
    <!-- AFTER HTML loads in browser, browser will request for CSS. -->
    <link rel="stylesheet" href="styles.css" />
  </head>
  <body>
    <% for(let i=0; i < allSightings.length; i+=1) { %>
     <p><a href=/sighting/<%= i %>> Date and Time #<%= allSightings[i].date_time %> - <%= allSightings[i].city %>, <%= allSightings[i].shape %> </a> </p>
<% } %>
  </body>
</html>
