<html>
  <head>
    <%- include('partials/head', {title: `Sightings by Shape`, background:
    `https://media-cldnry.s-nbcnews.com/image/upload/newscms/2021_20/3475469/210517-ufo-corbell-2x1-mn-1540.gif`});
    -%>
  </head>
  <body>
    <%- include('partials/navbar-header', {header: `Welcome to the UFO Sightings
    App`, subheader: `Submit, View or Edit Our List of Known UFO Sightings`});
    -%>
    <div class="jumbotron container-fluid text-center" id="home">
      <p class="container" style="max-width: 600px">
        On June 25, 2021, the Pentagon released a much-anticipated report on
        UFOs to Congress. The military has rebranded unidentified flying objects
        as unidentified aerial phenomena –UAPs – in part to avoid the stigma
        that has been attached to claims of aliens visiting the Earth since the
        Roswell incident in 1947. The report presents no convincing evidence
        that alien spacecraft have been spotted, but some of the data defy easy
        interpretation.
      </p>
      <a></a>
    </div>
    <%- include('partials/footer'); -%>
  </body>
</html>
